@font-face {
  font-family: "Avenir Next Cyr";
  font-weight: 400;
  src: url("../src/Assets/Fonts/avenirnextcyr-medium.ttf") format("ttf");
  src: url("../src/Assets/Fonts/avenirnextcyr-medium.woff2") format("woff2");
  src: url("../src/Assets/Fonts/avenirnextcyr-medium.woff") format("woff");
}
@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  src: url("../src/Assets/Fonts/bebasneuebold.ttf") format("ttf");
  src: url("../src/Assets/Fonts/bebasneuebold.woff2") format("woff2");
  src: url("../src/Assets/Fonts/bebasneuebold.woff") format("woff");
}
@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  src: url("../src/Assets/Fonts/bebasneueregular.ttf") format("ttf");
  src: url("../src/Assets/Fonts/bebasneueregular.woff2") format("woff2");
  src: url("../src/Assets/Fonts/bebasneueregular.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171719;
  padding: 14px 64px;
  width: calc(100vw - 128px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 80px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: inherit;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255, 0.5);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #171719;  /* creates padding around scroll thumb */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

a, h1, h2, h3, h4, h5, h6 {
  appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
