

.circle {
  position: absolute;
  left: 825px;
  top: 22px;
}

.point {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #E75626;
  border-radius: 50%;
  top: 20px;
  left: 821px;
}
.point:nth-of-type(2n) {
  top: 263px;
  left: 1065px;
}

.point:nth-of-type(3n) {
  top: 507px;
  left: 821px;
}
